.grid{
  display: grid;

  grid-template-columns: 0.95fr 1.35fr;

  gap: 18px;

  width: 100%;

  max-width: 1150px;

  margin: 60px auto;

  padding: 0 20px;

  align-items: stretch;
}

/* COLUNA DIREITA */
.right{
  display: grid;

  grid-template-rows:
    0.9fr
    1fr;

  gap: 18px;

  height: 100%;
}

/* LINHA DOS PEQUENOS */
.bottom{
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 18px;
}

/* CARD */
.card{
  position: relative;

  overflow: hidden;

  border-radius: 26px;

  background: #2b0a88;

  isolation: isolate;

  transition:
    transform .25s ease,
    box-shadow .25s ease;

  box-shadow:
    0 10px 35px rgba(0,0,0,.10);
}

.card:hover{
  transform: translateY(-4px);

  box-shadow:
    0 18px 42px rgba(0,0,0,.15);
}

/* IMAGEM */
.image{
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

/* CARD GRANDE */
.large{
  aspect-ratio: 0.82;
}

/* CARD TOPO */
.medium{
  aspect-ratio: 2.08;
}

/* CARDS PEQUENOS */
.small{
  aspect-ratio: 1.32;
}

/* RESPONSIVO */
@media(max-width: 1000px){

  .grid{
    grid-template-columns: 1fr;

    gap: 16px;

    margin: 40px auto;
  }

  .right{
    grid-template-rows: auto;
  }

  .bottom{
    grid-template-columns: 1fr;

    gap: 16px;
  }

  .large{
    aspect-ratio: 0.95;
  }

  .medium{
    aspect-ratio: 1.8;
  }

  .small{
    aspect-ratio: 1.8;
  }

}