.wrapper{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:18px;
    padding:16px;
    margin-top:24px;
}

.header{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:12px;
}

.header svg{
    color:#16a34a;
    flex-shrink:0;
}

.header h3{
    margin:0;
    font-size:16px;
    font-weight:700;
    color:#111827;
}

.header p{
    margin-top:4px;
    color:#6b7280;
    font-size:12px;
}

.searchBox{
    display:flex;
    gap:12px;
    margin-bottom:20px;
}

.input{
    flex:1;
    height:48px;
    border:1px solid #d1d5db;
    border-radius:12px;
    padding:0 16px;
    font-size:15px;
    transition:.2s;
}

.input:focus{
    outline:none;
    border-color:#16a34a;
    box-shadow:0 0 0 3px rgba(22,163,74,.12);
}

.button{
    height:48px;
    padding:0 22px;
    border:none;
    border-radius:12px;
    background:#16a34a;
    color:#fff;
    font-weight:700;
    cursor:pointer;
    transition:.2s;
}

.button:hover{
    background:#15803d;
}

.loading{
    animation:spin .8s linear infinite;
}

@keyframes spin{

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}

}

.address{
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:18px;
    color:#374151;
    font-size:14px;
}

.address svg{
    color:#16a34a;
}

.shippingList{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.shippingCard{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:1px solid #e5e7eb;
    border-radius:16px;
    padding:10px 14px;
    cursor:pointer;
    transition:.25s;
    background:#fff;
}

.shippingCard:hover{
    border-color:#16a34a;
    transform:translateY(-2px);
    box-shadow:0 8px 24px rgba(0,0,0,.08);
}

.active{
    border:2px solid #16a34a;
    background:#f0fdf4;
}

.cardLeft{
    display:flex;
    align-items:center;
     gap:10px;
}

.logo{
    width:34px;
    height:34px;
    object-fit:contain;
    background:#fff;
    border-radius:10px;
}

.company{
      font-size:14px;
    font-weight:700;
    font-weight:700;
    color:#111827;
}

.service{
        font-size:12px;
    margin-top:2px;
    color:#6b7280;
    margin-top:3px;
}

.time{
    margin-top:6px;
    color:#16a34a;
    font-size:14px;
    font-weight:600;
}

.cardRight{
    text-align:right;
}

.price{
    font-size:18px;
    font-weight:800;
    color:#111827;
}

.selected{
    margin-top:6px;
    color:#16a34a;
    font-weight:700;
    font-size:13px;
}

.bestBadge{
    position:absolute;
    top:-10px;
    left:18px;
    background:#16a34a;
    color:#fff;
    font-size:12px;
    font-weight:700;
    padding:4px 12px;
    border-radius:999px;
}

@media(max-width:768px){

.searchBox{
flex-direction:column;
}

.button{
width:100%;
}

.shippingCard{
flex-direction:column;
align-items:flex-start;
gap:18px;
}

.cardRight{
width:100%;
text-align:left;
}

.logo{
width:48px;
height:48px;
}

.price{
font-size:22px;
}

}